{% extends "music/base.html" %}
{% block content %}
<head>
<title> alternate page  </title>
</head>
<body>

<div><img width="300" height="300" src="{{ album.image.url }}" class=""> </div>
<h2>  <br>{{ object.title }} </h2>
<h2> Genre : {{ object.genre }} </h6>
<p>uploaded by <a class="mr-2" href="{% url 'user-albums' object.author.username %}">{{ object.author }}</a></p>
<br> Performed by - {{object.artists}} <br><br>
                 <div>
                    {% if object.author == user %}
                    <a class = "btn btn-secondary" href="{% url 'album-update' object.id %}"> <font color="#fff">Update</font></a>
                    <a class = "btn btn-danger" href="{% url 'album-delete' object.id %}"> Delete</a>
                    <a class="btn" href="{% url 'add_songs_to_album' pk=album.pk  %}"><font color="#fff">Add Songs</font></a>  
                    {% endif %} 
                </div>
                </div>
                            {% ifequal album.songs 0 %}
            Sorry this album has no tracks available 
                            {% endifequal %}
            <div class="">
                <div class="table-wrapper">
                    <h3>All Songs</h3>
                    <table class="fl-table">
                        <thead style="background-color:#fff">
                        <tr>
                            
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                             {% if object.author == user %}<th>Remove ?</th> {% endif %}
                        </tr>
                        </thead>
                        <tbody>
             {% for song in album.songs.all %}
                            <tr>
                                <td><font color="#f2f2f2"> <center>{{ song.song_title }}<c/enter> </font></td>
                                <td><center>
                                <audio
                                    controls
                                        src="{{ song.audio_file.url }}">
                                            Your browser does not support the
                                            <code>audio</code> element.
                                    </audio>

                            
                               </center> </td>
                                <td>
                                   <font color="#fff"> <center> Favorite OPTION -- add url -==-</center></font>
                                </td>
                                {% if object.author == user %}
                                <td><center>
            {% if object.author == user %}
          <a class="btn" href="{% url 'song_delete'  pk=song.pk  %}"><font color="#fff"> <center>Yes</center> </font><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}          </center>                    
                              </td> 
                              {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

            
                </div>
            </div>

        </div>

    </div>





</body>

{% endblock content %}