{% extends "music/base.html" %}
{% block content %}
<font color="#ff1"><center><h2>   Archives</h2>
</center></font>

<ul>

        {% for article in latest %}
            <li><font color = "#ff2">
                <a href="{% url 'album-detail' article.id %}"> {{ article.title }} </a>by <font color = "#fff">  <a class="mr-2" href="{% url 'user-albums' article.author.username %}">{{ article.author }}</a></font> on {{ article.date_posted }}
                </font>
            </li>
        {% endfor %}

</ul>
{% endblock %}