
{% extends "music/base.html" %}
{% block content %}
<table>
<tr>
<td>
    
      <img class = "article-img" src = "{{ album.author.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                 

            </div>
        
              <h2 class="article-title" href="#">{{ object.title }}</h2>
              <img class = "img-fluid" src = "{{ album.image_url|default_if_none:'' }}">
              <br>__________________________________________________________________
              <p class="content"><br>{{ object.genre|linebreaks }}</p>

</td>
</tr>
</table>
<table style="width:100%" border = "2px red solid">
  <tr>
    <th><a class="mr-2" href="{% url 'user-albums' object.author.username %}">{{ object.author }}</a></th>
    <th><small class="text-muted">{{ object.date_posted |date:"F d, Y"}}</small></th>
    <th>            {% if object.author == user %}
               <div>
                   <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'album-update' object.id %}"> Update</a>
                   <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'album-delete' object.id %}"> Delete</a>
                    <a class="btn" href="{% url 'add_songs_to_album' pk=album.pk  %}">Add Songs</a>  
                </div>
            {% endif %} 
    </th>
  </tr>

  
    {% for song in album.songs.all %}

    <tr><td> <font color = "#fff"> Title : {{ song.song_title }}</font>
      {% if object.author == user %}
    <a class="btn" href="{% url 'song_remove'  pk=album.pk  %}"> Remove </a>
            {% endif %}
            <font color = "#fff">On {{ song.created_date }}</font></td></tr>
    <tr>
    <td>  
                <a target="_blank" href="{{ song.audio_file.url }}">
                                <button type="button" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
    </td>
 
        {% empty %}
                    <td>No songs added here yet :(</td>
                    {{ song.author }}
    </tr>
    {% endfor %}
  

</table>
{% endblock content %}




