{% extends "music/base.html" %}
{% block content %}

        <h1 class="card-title">
                <font color="#ff1">All Users</font>
        </h1>
        
        {% for object in all_users %}
_________________
      <div>
        <li>
        
            <font color = "#00001f" size = "5.6px">
                    <a class="navbar-brand mr-4" href="{% url 'user-albums' object.username %}">{{ object.username }}</a>
            </font>
        
        </li>
      </div>
        {% endfor %}
__________________
{% endblock %}