{% extends "music/base.html" %}
{% block content %}
<div>
        <h1 class="card-title">
                <font color="#000000">Please help in making this site better </font>
        </h1>
      <h2> 
            <font color="#0f0f0f">Have a suggestion?</font>
      </h2>
           <h3>
                <div class="card-text">
                        <font color="#0f0f0f">Please mail your suggestions to abhishek.dubey_cs@gla.ac.in</font>
                </div>
           </h3> 
        
</div>

{% endblock %}