{% extends "music/base4.html" %}
{% block content %}
  <font color = "#ff1">_____________________________________________</font>
    {% for album in albums %}

    <figure class="snip1585">
        
          <img src="{{ album.image_url }}"> 
       <figcaption>
    <h4><span> {{ album.artists }}</span></h4>
  </figcaption>
        <a href="{% url 'album-detail' pk=album.pk %}"></a>
        
    </figure>
            <div class="media-body">
              <div class="content-section">
                <a class="mr-2" href="{% url 'user-albums' album.author.username %}">{{ album.author }}</a>
                <small class="text-muted">{{ album.date_posted |date:"F d, Y"}}</small>
              </div>
              <h2><a class="article-title" href="{% url 'album-detail' album.id %}">{{ album.title }}</a></h2>
              <div class = "polaroid">  
              </div class='article'> 
              <div>
                  <font color = "#fff"> Genre : {{ album.genre }}</font> 
                  <br>
                  <a href="{% url 'album-detail' pk=album.pk %}">   Total Tracks : {{ album.songs.count }} </a>
              </div>
            </div>
    <font color = "#ff1">_____________________________________________</font>
    </article>

    {% endfor %}

  {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a href="?page=1" class = "btn btn-outline-info mb-4">First</a>
    <a href="?page={{ page_obj.previous_page_number }}" class = "btn btn-outline-info mb-4">Previous</a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a href="?page={{ num }}" class = "btn btn-info mb-4">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class = "btn btn-info mb-4">{{ num }}</a>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class = "btn btn-outline-info mb-4">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class = "btn btn-outline-info mb-4">Last</a>
    {% endif %}
    
  {% endif %}

{% endblock content %}

