{% extends "music/base.html" %}
{% block content %}

        <h1 class="card-title">
          Latest Albums
        </h1>
        
        {% for form in forms %}

        <li><font color = "#10cfcf" size = "5.6px">
                <a href="{% url 'album-detail' form.id %}"> {{ form.title }} </font></a><br>______________________________ by<font color = "#5ce65c" size = "4px"> <a class="mr-2" href="{% url 'user-albums' form.author.username %}">  {{ form.author }}  </a> </font> on {{ form.date_posted }}
        </font>
        </li>
        {% endfor %}
{% endblock %}