{% extends "music/base.html" %}
{% block content %}

        <h3>
          <font color="#ff1"><center>Latest Albums</center></font>
        </h3>
        
        {% for form in forms %}

        <li><font color = "lightgreen" size = "5.6px">
                <a style="color:pink;" href="{% url 'album-detail' form.id %}"> {{ form.title }} </font></a><br>____________________ by<font color = "#5ce65c" size = "4px"> <a class="mr-2" style="color:lightgreen;" href="{% url 'user-albums' form.author.username %}">  {{ form.author }}  </a> </font> on {{ form.date_posted }}
        </font>
        </li>
        {% endfor %}
{% endblock %} 