{% extends "music/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

<font color="#ff1">

    <div class = "content-section">
            <form method="POST">
                    {% csrf_token %}
                <fieldset class = "from-group">
                    <legend class = "border-bottom mb-4">
                            Log In
                    </legend>
                    {{ form|crispy }}
                </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> Login </button>
        </div>
        <div class="border-top pt-3">
            <small class = "text-muted">  
                Not registered?  <a href="{% url 'register' %}" class="ml-2">   Sign Up Now   </a>  
             </small>
        </div>
            </form>
    </div>
</font>
{% endblock %} 