{% extends "music/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="content-section">
  <figure class="snip1585">
          <img src="{{ user.profile.image.url }}"> 
       <figcaption>
    <h3><span> {{ user.username }} </span></h3>
  </figcaption>
  </div>
  <p class="h3"> <img height="40" width="52" src="{% static 'music/email3.png' %}"> : {{ user.email }}</p>

    <!-- FORM HERE -->
    <div>
<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class = "from-group">
            <legend class = "border-bottom mb-4">
            <font color ="#ff1">Your Profile 
            </legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
      </font></div>
</form>
</div>
{% endblock content %}

